.form-container {
  display: flex;
  flex-direction: column;
  .form-child {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right bottom, #b6fbff, #83a4d4);
    .ant-form-element {
      position: relative;
      width: 80%;
      max-width: 800px;
      padding: 18px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 7px 7px 10px rgba($color: #83a4d4, $alpha: 1),
        -7px -7px 10px rgba($color: #b6fbff, $alpha: 1);
      .ant-form-btn {
        .icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            rotate: 90deg;
          }
        }
      }
      .ant-input {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
      }
      #urlInput {
        margin: 0 !important;
        border: none !important;
        outline: none !important;
        &:disabled{
          background-color: white !important;
        }
      }
    }
    .ant-selector-element {
      margin: 10px;
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }
  .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      .loading {
        height: 120px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        div {
          height: 30px;
          width: 30px;
          position: absolute;
          animation: move 4s infinite;
        }
        div:nth-child(1) {
          background-color: rgb(158, 136, 246);
          box-shadow: rgb(158, 136, 246) 0px 7px 29px 0px;
          transform: translate(-30px, -30px);
          animation-delay: -1s;
        }
        div:nth-child(2) {
          background-color: rgb(97, 183, 253);
          box-shadow: rgb(97, 183, 253) 0px 7px 29px 0px;
          transform: translate(30px, -30px);
          animation-delay: -2s;
        }
        div:nth-child(3) {
          background-color: rgb(95, 249, 175);
          box-shadow: rgb(95, 249, 175) 0px 7px 29px 0px;
          transform: translate(30px, 30px);
          animation-delay: -3s;
        }
        div:nth-child(4) {
          background-color: rgb(243, 171, 89);
          box-shadow: rgb(243, 171, 89) 0px 7px 29px 0px;
          transform: translate(-30px, 30px);
          animation-delay: -4s;
        }
      }
    }
    .result-element {
      max-width: 60%;
      object-fit: contain;
      height: 100%;
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
      &.document{
        height:500px;
      }
    }
    .file-download-btn {
      padding: 10px 30px;
      margin: 15px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        to right bottom,
        darken(#b6fbff, 40),
        darken(#83a4d4, 20)
      );
      .download-icon {
        margin: 0 5px 0 0;
      }
    }
  }

  @keyframes move {
    0% {
      transform: translate(-30px, -30px);
    }

    25% {
      transform: translate(30px, -30px);
    }

    50% {
      transform: translate(30px, 30px);
    }

    75% {
      transform: translate(-30px, 30px);
    }

    100% {
      transform: translate(-30px, -30px);
    }
  }
}

@media screen and (max-width: 980px) {
  .form-container {
    .result-container {
      .result-element {
        max-width: 80%;
      }
    }
  }
}
